{% extends 'base.html' %}
{% load static %}


{% block title %}
	update profile
{% endblock title %}


{% block content %}

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'index' %}" rel="nofollow" style="text-decoration: none;">Home</a>
                    <span></span><a href="{% url 'users:myprofile' %}" style="text-decoration: none;">Profil</a>
                    <span></span>Profilni Yangilash
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fa fa-pen mr-15"></i>Profil sozlamalari</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                         {% if forma.image_user %}
                                                          <p>{{ forma.image_user }}</p>
                                                         <br>
                                                         <br>
                                                        {% else %}
                                                        <img src="{% static 'assets/imgs/user.png' %}" alt="" style="width: 200px; height: 200px; border-radius: 60%;">
                                                        <br>
                                                        <br>
                                                        <br>
                                                        {% endif %}
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <p>{{ forma.first_name }}</p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <p>{{ forma.last_name }}</p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Location<span class="required">*</span></label>
                                                            <p>{{ forma.user_location }}</p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Phone Number<span class="required">*</span></label>
                                                            <p>{{ forma.phone }}</p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                        </div>
                                                        
                                                        <div class="col-md-12" style="padding-left: 450px;">
                                                            <a href="{% url 'users:updatepassword' %}" class="btn btn-secondary">Change Password</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}