{% extends 'base.html' %}

{% load static %}

{% block title %}
	detail product
{% endblock title %}

{% block content %}


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'index' %}" rel="nofollow">Home</a>
                    <span></span><a href="{% url 'brandview' detail_product.brand.id %}" rel="nofollow">{{ detail_product.brand.name }}</a>
                    <span></span> {{ detail_product.model }}
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fa fa-search-plus"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            {% for image in detail_product.car_images.all %}
                                            <figure class="border-radius-10">
                                                <img src="{{ image.image_url }}" alt="product image">
                                            </figure>
                                            {% endfor %}
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            {% for image in detail_product.car_images.all %}
                                            <div><img src="{{ image.image_url }}" alt="product image"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">{{ detail_product.model }}</h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Category: <a href="{% url 'categoryview' detail_product.id %}">{{ detail_product.category.name }}</a></span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                {% if detail_product.percentage %}
                                                    <ins><span class="text-brand">Hozirgi Narxi: {{ detail_product.get_new_price }}$</span></ins>
                                                    <ins><span class="old-price font-md ml-15">Eski narxi: {{ detail_product.price }}$</span></ins>
                                                {% else %}
                                                    <ins><span class="text-brand">Hozirgi Narxi: {{ detail_product.get_new_price }}$</span></ins>
                                                {% endif %}

                                                <span class="save-price  font-md color3 ml-15">Skidka: {{ detail_product.percentage}}%</span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>

                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="far fa-hourglass mr-5 text-brand"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                <li class="mb-10"><i class="far fa-paper-plane mr-5 text-brand"></i> 30 Day Return Policy</li>
                                                <li><i class="far fa-address-card mr-5 text-brand"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                                <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                                <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                                <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                                <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                                <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                                <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="product-extra-link2">
                                                <form action="{% url 'order:addtofavorite' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="product_id" value="{{ product.id }}"><br>
                                                    <button type="submit" class="button button-add-to-cart" style="margin: 0 0 80% 20px;"><i class="far fa-heart"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h3 class="section-title style-1 mb-30">Description</h3>
                                    <div class="description mb-50">
                                        {{ detail_product.description }}
                                    </div>
                                    <h3 class="section-title style-1 mb-30">Additional info</h3>
                                    <table class="font-md mb-30">
                                        <tbody>
                                            <tr class="stand-up">
                                                <th>Yili</th>
                                                <td>
                                                    <p>{{ detail_product.year }}</p>
                                                </td>
                                            </tr>
                                            <tr class="folded-wo-wheels">
                                                <th>Qulayligi</th>
                                                <td>
                                                    <p>{{ detail_product.condition }}</p>
                                                </td>
                                            </tr>
                                            <tr class="folded-w-wheels">
                                                <th>Matori</th>
                                                <td>
                                                    <p>{{ detail_product.dvigatel}}</p>
                                                </td>
                                            </tr>
                                            <tr class="door-pass-through">
                                                <th>Karopkasi</th>
                                                <td>
                                                    <p>{{ detail_product.backer }}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="single-social-share clearfix mt-50 mb-15">
                                        <p class="mb-15 mt-30 font-sm"> <i class="fa fa-share-alt mr-5"></i> Share this</p>
                                        <div class="mobile-social-icon wow fadeIn  mb-sm-5 mb-md-0 animated">
                                            <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                            <a class="tumblr" href="#"><i class="fab fa-tumblr"></i></a>
                                            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <a class="mail-to-friend font-sm color-grey" href="#"><i class="far fa-envelope"></i> Email to a
                                        Friend</a>
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="row">
                                    {% for rela_product in related_product %}
                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap small hover-up">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="shop-product-right.html" tabindex="0">
                                                        <img class="default-img" src="{{ rela_product.car_images.first.image_url }}" style="width: 400px; height: 200px" alt="">
                                                        <img class="hover-img" src="{{ rela_product.car_images.last.image_url }}" style="width: 400px; height: 200px" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="far fa-heart"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="" tabindex="0">{{ rela_product.model }}</a></h2>
                                                <div>
                                                    <span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    {% if rela_product.percentage %}
                                                        <span>{{ rela_product.get_new_price }}$</span>
                                                        <span class="old-price">{{ rela_product.price }}$</span>
                                                    {% else %}
                                                        <span>{{ rela_product.get_new_price }}$</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                                <img class="border-radius-10" src="assets/imgs/banner/banner-4.png" alt="">
                                <div class="banner-text">
                                    <h4 class="mb-15 mt-40 text-white">Repair Services</h4>
                                    <h2 class="fw-600 mb-20 text-white">We're an Apple <br>Authorised Service Provider</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock content %}


{% block script %}
    <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>
{% endblock script %}