{% extends "base.html" %}
{% load static %}


{% block title %}
	category products
{% endblock title %}


{% block content %}


	<!--featured-cars start -->
	<section id="featured-cars" class="featured-cars">
          <br>
          <br>
          <br>
		<div class="container">
			<div class="section-header">
				<h2 style="color: lightcyan;">{{ category.name }}</h2>
			</div><!--/.section-header-->
			<div class="featured-cars-content">

				<div class="row">
					{% for ctgcars in category_cars %}
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="{{ ctgcars.image.url }}" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: {{ ctgcars.year }}  |
										<span class="featured-mi-span">{{ ctgcars.dvigatel }}</span>|
										<!-- <span class="featured-hp-span">{{ fcars.condition }}</span> -->
										{{ ctgcars.backer }}
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="{% url 'detailview' ctgcars.id %}">{{ ctgcars.model }}</a></h2>
								<h3>{{ ctgcars.price }}$</h3>
								<p>
									<!-- truncatewords:15 ==> matnni 15ta gap qilib qoyadi, undan kam bo'sa o'zgarmaydi  -->
									{{ ctgcars.description |truncatewords:15 }}   
								</p>
							</div>
						</div>
					</div>
					{% endfor %}
					
				</div>

<br>
<br>

				<div class="row">
					{% for latcars in latest_cars %}
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="{{ latcars.image.url }}" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: {{ latcars.year }} |
										<span class="featured-mi-span">{{ latcars.dvigatel }}</span> |
										<!-- <span class="featured-hp-span"> 240HP</span> -->
											{{ latcars.backer }}
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="{% url 'detailview' latcars.id %}" class="aclass"> {{ latcars.model }} </a></h2>
								<h3>{{ latcars.price }}$</h3>
								<p>
									{{ latcars.description | truncatewords:15 }}
								</p>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div><!--/.container-->

	</section><!--/.featured-cars-->
	<!--featured-cars end -->

     
{% endblock content %}