
{% extends "base.html" %}
{% load static %}


{% block title %}
	detail car
{% endblock title %}


{% block content %}


     <!--new-cars start -->
     <section id="new-cars" class="new-cars" style="background-color: blueviolet;">
          <br>
          <br>
          <br>
          <br>
          <div class="container">
               <div class="section-header">
                    <h2 style="color: aquamarine;">{{ detail_product.model }}</h2>
                    <a href="{% url 'brandview' detail_product.brand.id %}" style="padding: 10px;">
                         <img src="{{ detail_product.brand.icon.url }}" alt="brand-image" style="width: 100%; height: 130px; border-radius: 20%;" />
                    </a>
               </div><!--/.section-header-->
               <div class="new-cars-content">
                    <div class="owl-carousel owl-theme" id="new-cars-carousel">

                         <div class="new-cars-item">
                              <div class="single-new-cars-item">
                                   <div class="row">
                                        <div class="col-md-7 col-sm-12">
                                             <div class="new-cars-img">
                                                  <img src="{{ detail_product.image.url }}" alt="img" style="border-radius: 15%;" />
                                             </div><!--/.new-cars-img-->
                                        </div>
                                        <div class="col-md-5 col-sm-12">
                                             <div class="new-cars-txt">
                                                  <h1></h1>
                                                  <p style="color: white;">
                                                       {{ detail_product.description }}
                                                  </p>
                                                  <br>
                                                  <br>
                                                  <p class="new-detail_products-para2">
                                                       <div class="product-price">
                                                            <h6 style="color: darkblue;">{% if detail_product.percentage %}
                                                            <span class="old-price"><del><b> Old Price: </b>{{ detail_product.price }}$</del></span><br><br>
                                                            <span><b> New Price: </b>{{ detail_product.get_new_price }}$</span>
                                                            {% else %}
                                                            <span><b> Price: </b>{{ detail_product.price }}$</span>
                                                            {% endif %}
                                                            </h6>
                                                       </div>
                                                  </p>
                                             </div><!--/.new-cars-txt-->	
                                        </div><!--/.col-->
                                   </div><!--/.row-->
                              </div><!--/.single-new-cars-item-->
                         </div><!--/.new-cars-item-->

                    </div><!--/#new-cars-carousel-->
               </div><!--/.new-cars-content-->
          </div><!--/.container-->
          <a href="#">
               <img alt="wowy" src="{% static 'assets/images/add-to-cart.png' %}" style="width: 150px; padding: 30px;">
               <span class="cart-count"></span>
          </a>

     </section><!--/.new-cars-->
     <!--new-cars end -->

     <!-- <div> -->
         
     <!-- </div> -->



{% endblock content %}