{% extends "base.html" %}
{% load static %}


{% block title %}
	user shop cart
{% endblock title %}


{% block content %} 



    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'index' %}" rel="nofollow">Home</a>
                    <span></span> Your Shop Cart
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ order.product.car_images.first.image_url }}" alt="#"></td>
                                        <td class="product-des product-name">
                                            <p class="product-name"><a href="{% url 'detailview' order.product.id %}">{{ order.product.model }}</a></p>
                                            <p class="font-xs">{{ order.product.backer }}
                                            </p>
                                        </td>
                                        <td class="price" data-title="Price"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ order.product.get_new_price }}$</span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                                <span class="qty-val">{{ order.quantity }}</span>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ order.product.get_new_price }}$</span>
                                        </td>
                                        <td class="action" data-title="Remove"><a href="{% url 'order:delete-shop-cart' order.id %}" class="text-muted"><i class="fa fa-trash-alt"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="6" class="text-end">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="cart-action text-end">
                            <a class="btn btn-rounded" href="{% url 'order:shop-address' %}"><i class="far fa-cart-plus mr-5"></i>Continue Shopping</a>
                        </div>
                
                    </div>
                </div>
                
            </div>
        </section>
    </main>



{% endblock content %} 


{% block script %}
<script src="{% static 'assets/js/plugins/jquery.vts ' %}"></script> 
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script> 
<script src="{% static 'assets/js/shop.js' %}"></script>
<!-- Template  JS -->
{% endblock script %}