{% extends "base.html" %}
{% load static %}


{% block title %}
	user shop address
{% endblock title %}


{% block content %} 



    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'index' %}" rel="nofollow">Home</a>
                    <span></span> <a href="{% url 'order:shop-cart' %}">Shop Cart</a>
                    <span></span> Shop Address
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                            <div class="col-lg-6 col-md-12">
                                <div class="heading_s1 mb-3">
                                    <h4>Calculate Shipping</h4>
                                </div>
                                <form class="field_form shipping_calculator" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <div class="custom_select">
                                                {{ form.country }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="form-group col-lg-6">
                                            {{ form.address }}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <button class="btn btn-rounded btn-sm"><i class="far fa-retweet mr-5"></i>Continue</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



{% endblock content %} 


{% block script %}
<script src="{% static 'assets/js/plugins/jquery.vts ' %}"></script> 
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script> 
<script src="{% static 'assets/js/shop.js' %}"></script>
<!-- Template  JS -->
{% endblock script %}